/*================== GLOBAL ====================*/
*{
  font-family: 'Roboto';
}

body {
	min-height: 100vh; /*100% user screen*/
	padding-bottom: 100px;
	position: relative;
}

header {
	background-color:#FFF;
	border-bottom: 1px solid #CCC;
}

.container-fluid {
    padding: 0;
}

footer {
	background-color: #353e48;
	color:#FFF;
	padding: 40px;
	position: absolute;/*cola no fundo da tela*/
	bottom: 0px;
	width: 100%;
}

/*================== WELCOME PAGE ====================*/

#carouselExampleControls img {
    height: 500px;
    margin-top: 10px;

}
#genre_container  {

	 padding-top: 20px;
	 padding-bottom: 20px;
	 padding-left: 70px;
	 padding-right: 70px;
}

#genre_container h2 {
 	text-align: center;
}


#genre_container p {
 	  text-align: justify;
}

#genre_container img {
	 height: 150px;
     display: block;
    margin-left: auto;
    margin-right: auto;

}
/*================== MAIN PAGE ====================*/
#mainContentLayout {
	 padding-top: 30px;
}

/*==================  PRODUITS PAGE ====================*/

/*produits.blade.php*/
.card {
    margin: 5px;
}

/*produits.blade.php*/
#divCardBorder {
	 border: 1px solid #CCC; 
	 padding: 5px;
	 margin: 10px;
}

/*produits.blade.php*/
.card-body {
    text-align: center;
}

/*produits.blade.php*/
#search_container {
	padding: 10px;
	text-align: center;
}

/*produits.blade.php*/
#search_container form {
	width: 50%;
	margin: auto;
    margin-bottom: 20px;
}


/* create.blade.php */
#createProduitContainer h2 {
    text-align: center;
}


/*produits.blade.php*/
.msg {

	 background-color: #D4EDDA;
	 color: #155724;
	 border: 1px solid #C3E6CB;
	 width: 100%;
	 margin-bottom: 10px;
	 text-align: center;
	 padding: 10px;
}
